# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Pytest & IDEs
.pytest_cache/
.vscode/
.idea/

# Environments & secrets
.env
.venv
venv/
env/

# Project local uploads
backend/uploads/
